* {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Roboto', sans-serif;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  padding: 0;
  background-color: #f0f5ff;
}
#root, .app {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.app {
  & > .page {
    padding: 30px;
    height: ~'calc(100% - 140px)';
    max-height: ~'calc(100% - 140px)';
    overflow-x: hidden;
    overflow-y: auto;
  }
}
