// Element Rules
* {
  margin: 0;
  padding: 0;
}
a {
  color: inherit;
}
ul, ol {
  list-style: none;
  & > li {
    display: inline-block;
  }
}

// Class Rules
body {
  color: #396586;
  font-family: 'Roboto', sans-serif;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
#root, .app {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.app {
  & > .page {
    padding: 30px;
    height: ~'calc(100% - 147px)';
    max-height: ~'calc(100% - 147px)';
    overflow-x: hidden;
    overflow-y: auto;
  }
}
code {
  margin: 20px auto 0 auto;
  white-space: pre-wrap;
  font-family: monospace;
  width: ~'calc(100% - 36px)';
  background-color: #505050;
  color: #a5ccff;
  padding: 15px;
  border-radius: 2px;
  border: 5px outset #829cff;
  box-shadow: 7px 3px 7px #0000005c;
}
