.sandbox {
  .editor-titles {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
  }
  .editors {
    & > .ace_editor {
      width: 45% !important;
      display: inline-block;
      height: 250px !important;
      margin: 0 2.5%;
    }
  }
}
