.sandbox {
  & > .editor {
    display: inline-block;
    position: relative;
    margin: 0 2.5%;
    width: 45%;
    .name {
      text-align: center;
    }
    & > .ace_editor {
      width: 100% !important;
      display: inline-block;
      height: 250px !important;
      .ace_error, .ace_warning, .ace_info {
        display: none !important;
      }
    }
  }
}
