/dist/
node_modules/
.DS_Store
/test.js
/testing/
/docs/
/docs-source/
/examples/
/tests/
/source/
/test-performance/
/feathers-test-app/

!/dist/Sandhands-commonjs.min.js
!/**/.gitkeep
