header.main {
  text-shadow: 0 0 12px #000000;
  overflow: hidden;
  color: #eaf6ff;
  font-family: 'Tajawal', sans-serif;
  line-height: 65px;
  height: 50px;
  max-height: 50px;
  padding: 5px 30px;
  border-bottom: 2px solid #486e8c;
  background-color: #00213a;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='32' viewBox='0 0 16 32'%3E%3Cg fill='%230078ff' fill-opacity='0.19'%3E%3Cpath fill-rule='evenodd' d='M0 24h4v2H0v-2zm0 4h6v2H0v-2zm0-8h2v2H0v-2zM0 0h4v2H0V0zm0 4h2v2H0V4zm16 20h-6v2h6v-2zm0 4H8v2h8v-2zm0-8h-4v2h4v-2zm0-20h-6v2h6V0zm0 4h-4v2h4V4zm-2 12h2v2h-2v-2zm0-8h2v2h-2V8zM2 8h10v2H2V8zm0 8h10v2H2v-2zm-2-4h14v2H0v-2zm4-8h6v2H4V4zm0 16h6v2H4v-2zM6 0h2v2H6V0zm0 24h2v2H6v-2z'/%3E%3C/g%3E%3C/svg%3E");
  white-space: nowrap;
  overflow-x: auto;
}
header.main > .sitetitle {
  padding-right: 40px;
}
header.main > * {
  display: inline-block;
}
header.main > *:not(:first-child) {
  margin-left: 20px;
}
header.main > *:not(:last-child) {
  margin-right: 20px;
}
header.main a {
  color: inherit;
  text-decoration: inherit;
}
header.main > ul {
  font-size: 1.8em;
}
header.main > ul > li:not(:first-child) {
  margin-left: 10px;
}
header.main > ul > li:not(:last-child) {
  margin-right: 10px;
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}
/* Sections
     ========================================================================== */
/**
   * Remove the margin in all browsers.
   */
body {
  margin: 0;
}
/**
   * Render the `main` element consistently in IE.
   */
main {
  display: block;
}
/**
   * Correct the font size and margin on `h1` elements within `section` and
   * `article` contexts in Chrome, Firefox, and Safari.
   */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
/* Grouping content
     ========================================================================== */
/**
   * 1. Add the correct box sizing in Firefox.
   * 2. Show the overflow in Edge and IE.
   */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}
/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}
/* Text-level semantics
     ========================================================================== */
/**
   * Remove the gray background on active links in IE 10.
   */
a {
  background-color: transparent;
}
/**
   * 1. Remove the bottom border in Chrome 57-
   * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
   */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}
/**
   * Add the correct font weight in Chrome, Edge, and Safari.
   */
b,
strong {
  font-weight: bolder;
}
/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}
/**
   * Add the correct font size in all browsers.
   */
small {
  font-size: 80%;
}
/**
   * Prevent `sub` and `sup` elements from affecting the line height in
   * all browsers.
   */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
/* Embedded content
     ========================================================================== */
/**
   * Remove the border on images inside links in IE 10.
   */
img {
  border-style: none;
}
/* Forms
     ========================================================================== */
/**
   * 1. Change the font styles in all browsers.
   * 2. Remove the margin in Firefox and Safari.
   */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}
/**
   * Show the overflow in IE.
   * 1. Show the overflow in Edge.
   */
button,
input {
  /* 1 */
  overflow: visible;
}
/**
   * Remove the inheritance of text transform in Edge, Firefox, and IE.
   * 1. Remove the inheritance of text transform in Firefox.
   */
button,
select {
  /* 1 */
  text-transform: none;
}
/**
   * Correct the inability to style clickable types in iOS and Safari.
   */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
/**
   * Remove the inner border and padding in Firefox.
   */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
/**
   * Restore the focus styles unset by the previous rule.
   */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
/**
   * Correct the padding in Firefox.
   */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}
/**
   * 1. Correct the text wrapping in Edge and IE.
   * 2. Correct the color inheritance from `fieldset` elements in IE.
   * 3. Remove the padding so developers are not caught out when they zero out
   *    `fieldset` elements in all browsers.
   */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}
/**
   * Add the correct vertical alignment in Chrome, Firefox, and Opera.
   */
progress {
  vertical-align: baseline;
}
/**
   * Remove the default vertical scrollbar in IE 10+.
   */
textarea {
  overflow: auto;
}
/**
   * 1. Add the correct box sizing in IE 10.
   * 2. Remove the padding in IE 10.
   */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}
/**
   * Correct the cursor style of increment and decrement buttons in Chrome.
   */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
/**
   * 1. Correct the odd appearance in Chrome and Safari.
   * 2. Correct the outline style in Safari.
   */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}
/**
   * Remove the inner padding in Chrome and Safari on macOS.
   */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/**
   * 1. Correct the inability to style clickable types in iOS and Safari.
   * 2. Change font properties to `inherit` in Safari.
   */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}
/* Interactive
     ========================================================================== */
/*
   * Add the correct display in Edge, IE 10+, and Firefox.
   */
details {
  display: block;
}
/*
   * Add the correct display in all browsers.
   */
summary {
  display: list-item;
}
/* Misc
     ========================================================================== */
/**
   * Add the correct display in IE 10+.
   */
template {
  display: none;
}
/**
   * Add the correct display in IE 10.
   */
[hidden] {
  display: none;
}
* {
  margin: 0;
  padding: 0;
}
a {
  color: inherit;
}
ul,
ol {
  list-style: none;
}
li {
  display: inline-block;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: 'Tajawal', sans-serif;
}
body {
  color: #cce0f0;
  font-family: 'Roboto', sans-serif;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  padding: 0;
  border-radius: 10px;
}
#page {
  margin-bottom: -50px;
}
#page > h1,
#page > h2,
#page > h3,
#page > h4,
#page > h5,
#page > h6,
#page > * > h1,
#page > * > h2,
#page > * > h3,
#page > * > h4,
#page > * > h5,
#page > * > h6 {
  background-color: rgba(24, 26, 27, 0.21);
  text-align: center;
  margin: 0 auto;
  color: white;
}
#root,
#__next {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
#__next > #page {
  padding: 30px 50px;
  height: calc(100% - 122px);
  max-height: calc(100% - 122px);
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #04162a;
}
code {
  display: block;
  margin: 20px auto;
  white-space: pre-wrap;
  font-family: monospace;
  width: calc(100% - 36px);
  background-color: #505050;
  color: #a5ccff;
  padding: 15px !important;
  border: 5px outset #4d74ce8f;
  box-shadow: 7px 3px 7px #0000005c;
}
.section {
  margin: 15px 0;
}
.section:target {
  border: 2px outset #8a7a3d;
  padding: 0 30px;
  margin: 10px -30px;
}
.section > .name {
  margin-left: 50px;
  text-decoration: underline;
  font-size: 1.8em;
  background-color: #ffffff05;
  display: inline-block;
  border-radius: 4px;
  margin-bottom: 4px;
}
.section > .name + * {
  display: block;
}
.pagetitle {
  text-shadow: 2px -1px 1px #00000030;
  text-align: center;
  margin-bottom: 5px;
  font-size: 2.5em;
}

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  color: #abb2bf;
  background: #282c34;
}
.hljs-comment,
.hljs-quote {
  color: #7a98cc;
  font-style: italic;
}
.hljs-doctag,
.hljs-keyword,
.hljs-formula {
  color: #8f9dff;
}
.hljs-section,
.hljs-name,
.hljs-selector-tag,
.hljs-deletion,
.hljs-subst {
  color: #e06c75;
}
.hljs-literal {
  color: #56b6c2;
}
.hljs-string,
.hljs-regexp,
.hljs-addition,
.hljs-attribute,
.hljs-meta-string {
  color: #e2a8f1;
}
.hljs-built_in,
.hljs-class .hljs-title {
  color: #e6c07b;
}
.hljs-attr,
.hljs-variable,
.hljs-template-variable,
.hljs-type,
.hljs-selector-class,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-number {
  color: #b59dfd;
}
.hljs-symbol,
.hljs-bullet,
.hljs-link,
.hljs-meta,
.hljs-selector-id,
.hljs-title {
  color: #61aeee;
}
.hljs-emphasis {
  font-style: italic;
}
.hljs-strong {
  font-weight: bold;
}
.hljs-link {
  text-decoration: underline;
}

.format > .section > .option {
  margin: 15px 0;
  background-color: #ffffff05;
  border: 4px solid white;
  border-color: white #8f9ac3 #8f9ac3 white;
  padding: 10px;
  transition: border-color 0.2s linear;
  border-radius: 3px;
  box-shadow: 3px 2px 0 2px #0000000f;
}
.format > .section > .option:hover {
  border-left-color: #e3e3fd;
}
.format > .section > .option > .name {
  margin-left: 15px;
}

.home p {
  list-style: none;
}

.sandbox > * {
  display: block;
}
.sandbox > .mode {
  text-align: center;
}
.sandbox > .mode > h3 {
  font-size: 2em;
  margin-top: 20px;
  margin-bottom: 10px;
  text-decoration: underline;
}
.sandbox > .mode > .modes {
  line-height: normal;
  padding: 0;
  width: fit-content;
  min-width: 120px;
  width: 120px;
  min-height: 50px;
  text-align: center;
  height: 50px;
  font-size: 1em;
  margin: 0;
  font-family: inherit;
  outline: none;
  background-color: ;
  color: #6589ab;
  border-color: #fdfdfd;
  border-width: 8px;
  border-style: solid;
  appearance: none;
  transition: border-color 0.4s ease-in;
}
.sandbox > .mode > .modes:hover {
  transition: none;
  border-color: #7598ea;
}
.sandbox > .output {
  margin-top: 20px;
}
.sandbox > .output.valid > code {
  width: fit-content;
  min-width: 100px;
  text-align: center;
}
.sandbox > .output.sanitize > code {
  width: fit-content;
  min-width: 200px;
  text-align: center;
}
.sandbox > .output.details > code {
  width: 80%;
  min-width: 300px;
}
.sandbox > .output > * {
  display: block;
}
.sandbox > .editors {
  padding: 20px 0;
  border-bottom: 4px double #0135ad8f;
  border-radius: 5px;
}
.sandbox > .editors > .editor {
  box-shadow: 8px 4px 5px #99a3bf3b;
  min-width: 300px;
  text-align: center;
  display: inline-block;
  position: relative;
  margin: 0 2.5%;
  width: calc(45% - 8px);
  border: 4px solid #4d74ce8f;
  border-width: 0 4px;
  background-color: #191818;
  border-radius: 3px;
  color: white;
  padding: 5px 0;
}
.sandbox > .editors > .editor > .ace_editor {
  margin: 5px 0;
  width: 100% !important;
  display: inline-block;
  height: 250px !important;
}
.sandbox > .editors > .editor > .ace_editor .ace_error,
.sandbox > .editors > .editor > .ace_editor .ace_warning,
.sandbox > .editors > .editor > .ace_editor .ace_info,
.sandbox > .editors > .editor > .ace_editor .ace_tooltip {
  display: none !important;
}
.sandbox > .version {
  text-align: center;
}

