.format {
  & > .section {
    & > .option {
      margin: 15px 0;
      background-color: #ffffff80;
      border: 4px solid white;
      border-color: white #8f9ac3 #8f9ac3 white;
      padding: 10px;
      transition: border-color 0.2s linear;
      border-radius: 3px;
      box-shadow: 3px 2px 0 2px #0000000f;
      &:hover {
        border-left-color: #e3e3fd;
      }
      & > .name {
        margin-left: 15px;
      }
    }
  }
}
