header.main {
  color: #2c5e84;
  font-family: 'Tajawal', sans-serif;
  line-height: 65px;
  height: 65px;
  max-height: 80px;
  padding: 20px 30px 0 30px;
  border-bottom: 2px solid #486e8c;
  background-color: #f1f9ff;
  white-space: nowrap;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%233970c9' fill-opacity='0.23' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
  & > * {
    display: inline-block;
    &:not(:first-child) {
      margin-left: 20px;
    }
    &:not(:last-child) {
      margin-right: 20px;
    }
  }
  a {
    color: inherit;
    text-decoration: inherit;
  }
  & > ul {
    font-size: 1.8em;
    & > li {
      &:not(:first-child) {
        margin-left: 10px;
      }
      &:not(:last-child) {
        margin-right: 10px;
      }
    }
  }
}
